.card {
  padding: var(--space-3);
  border-radius: var(--radius-lg);
  background-color: var(--color-surface);
  box-shadow: var(--shadow-card);
}

.cardTitle {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}
