:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 600;
}

p {
  margin: 1rem;
}

code {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  color: #e01e5a;
  background-color: #fcfcfc;
  border: 1px solid #bebebe;
  border-radius: 0.25rem;
  padding: 0.1rem 0.2rem;
}
